<h1>Edit gossip</h1>
 
 <%= form_with(model: @gossip) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
  <%end%>
 
<%= link_to 'Back', gossips_path %>