<h1>All gossips</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Moussaillon ID</th>
    <th>Creation Date</th>  
  </tr>
 
  <% @gossips.each do |gossip| %>
    <tr>
      <td><%= gossip.title %></td>
      <td><%= gossip.content %></td>
      <td><%= gossip.moussaillon_id %></td>
      <td><%= gossip.created_at.to_date %></td>
      <td><%= link_to 'Show', gossip_path(gossip) %></td>
      <td><%= link_to 'Edit', edit_gossip_path(gossip) %></td>
      <td><%= link_to 'Destroy', gossip_path(gossip),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
    </tr>
    </tr>
  <% end %>
</table>