<div class=row>
 
 <div class=col-md-2 col-md-offset-5></div>

<%= form_with scope: :gossip, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

</div>

</div>