<p>
  <strong>Title:</strong>
  <%= @gossip.title %>
</p>
 
<p>
  <strong>Content:</strong>
  <%= @gossip.content %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @gossip.moussaillon.anonymous_username %>
</p>

<p>
  <%= @gossip.created_at %></br>
  <%= @gossip.updated_at %>
</p>

<%= link_to 'Edit', edit_gossip_path(@gossip) %>
<%= link_to 'Back', gossips_path %>